In [1]:
import pandas as pd

dados = pd.read_csv('/content/tsm_19S34W.csv', delimiter=',', skiprows=[0], header=None, names=['Data', 'Hora', 'SST', 'Q', 'S'])

# Exibir as primeiras linhas dos dados
print(dados)

        Data  Hora    SST  Q  S
0   20230801  1200  24.77  2  1
1   20230802  1200  24.72  2  1
2   20230803  1200  24.82  2  1
3   20230804  1200  25.01  2  1
4   20230805  1200  24.97  2  1
5   20230806  1200  24.73  2  1
6   20230807  1200  24.71  2  1
7   20230808  1200  24.93  2  1
8   20230809  1200  25.06  2  1
9   20230810  1200  25.33  2  1
10  20230811  1200  25.52  2  1
11  20230812  1200  25.43  2  1
12  20230813  1200  25.38  2  1
13  20230814  1200  25.44  2  1
14  20230815  1200  25.41  2  1
15  20230816  1200  25.35  2  1
16  20230817  1200  25.39  2  1
17  20230818  1200  25.27  2  1
18  20230819  1200  25.24  2  1
19  20230820  1200  25.29  2  1
20  20230821  1200  25.26  2  1
21  20230822  1200  25.33  2  1
22  20230823  1200  25.38  2  1
23  20230824  1200  25.34  2  1

In [2]:
def verificar_dados_ausentes(dados):
    for coluna in dados.columns:
        ausentes = dados[coluna].isnull().sum()
        print(f"A coluna '{coluna}' tem {ausentes} dados ausentes.")

verificar_dados_ausentes(dados)

A coluna 'Data' tem 0 dados ausentes.
A coluna 'Hora' tem 0 dados ausentes.
A coluna 'SST' tem 0 dados ausentes.
A coluna 'Q' tem 0 dados ausentes.
A coluna 'S' tem 0 dados ausentes.

# Análise de Qualidade:
Eu desejo levar em consideração os códigos de qualidade que podem ser úteis para avaliar a confiabilidade dos dados. De acordo com o manual da base de dados:

2 = Qualidade padrão. Valor padrão para sensores atualmente implantados e
  para sensores.

In [3]:
def verificar_qualidade_dos_dados(dados):
    resultado = "Em nenhum dado foi apresentado valor inferior a 2 na coluna 'Q'."

    # Verificar se algum valor na coluna Q é menor que 2
    if (dados['Q'] < 2).any():
        resultado = "Algum dado apresentou valor inferior a 2 na coluna 'Q'."

    return resultado

resultado_qualidade = verificar_qualidade_dos_dados(dados)

print(resultado_qualidade)

Em nenhum dado foi apresentado valor inferior a 2 na coluna 'Q'.

# Agregação de Dados:
Eu desejo realizar agregações temporais para poder  calcular médias diárias ou mensais da temperaura da superfíce do mar. Logo, estou convertendo a coluna 'Data' para formato de data e posteriormente realizar a analise da média mensal da temperaura da superfíce do mar.

In [4]:
import pandas as pd

def calcular_media_sst_e_adicionar_coluna(dados):
    # Calcular a média da coluna 'SST'
    media_sst = dados['SST'].mean()

    # Adicionar uma nova coluna
    dados['Media SST'] = media_sst

    return dados


dados = calcular_media_sst_e_adicionar_coluna(dados)

print(dados)

        Data  Hora    SST  Q  S  Media SST
0   20230801  1200  24.77  2  1      25.17
1   20230802  1200  24.72  2  1      25.17
2   20230803  1200  24.82  2  1      25.17
3   20230804  1200  25.01  2  1      25.17
4   20230805  1200  24.97  2  1      25.17
5   20230806  1200  24.73  2  1      25.17
6   20230807  1200  24.71  2  1      25.17
7   20230808  1200  24.93  2  1      25.17
8   20230809  1200  25.06  2  1      25.17
9   20230810  1200  25.33  2  1      25.17
10  20230811  1200  25.52  2  1      25.17
11  20230812  1200  25.43  2  1      25.17
12  20230813  1200  25.38  2  1      25.17
13  20230814  1200  25.44  2  1      25.17
14  20230815  1200  25.41  2  1      25.17
15  20230816  1200  25.35  2  1      25.17
16  20230817  1200  25.39  2  1      25.17
17  20230818  1200  25.27  2  1      25.17
18  20230819  1200  25.24  2  1      25.17
19  20230820  1200  25.29  2  1      25.17
20  20230821  1200  25.26  2  1      25.17
21  20230822  1200  25.33  2  1      25.17
22  20230823  1200  25.38  2  1      25.17
23  20230824  1200  25.34  2  1      25.17

# Salvando o novo arquivo com novas atualizações
Atualizações estas que podem ser uteis para analises do comportamento medio mensal da temperatura do oceano para a lat/lon: 19S34W.

In [5]:
dados.to_csv('/content/tsm_19S34W.csv', sep='\t', index=False, header=None)

In [6]:
print (dados)

        Data  Hora    SST  Q  S  Media SST
0   20230801  1200  24.77  2  1      25.17
1   20230802  1200  24.72  2  1      25.17
2   20230803  1200  24.82  2  1      25.17
3   20230804  1200  25.01  2  1      25.17
4   20230805  1200  24.97  2  1      25.17
5   20230806  1200  24.73  2  1      25.17
6   20230807  1200  24.71  2  1      25.17
7   20230808  1200  24.93  2  1      25.17
8   20230809  1200  25.06  2  1      25.17
9   20230810  1200  25.33  2  1      25.17
10  20230811  1200  25.52  2  1      25.17
11  20230812  1200  25.43  2  1      25.17
12  20230813  1200  25.38  2  1      25.17
13  20230814  1200  25.44  2  1      25.17
14  20230815  1200  25.41  2  1      25.17
15  20230816  1200  25.35  2  1      25.17
16  20230817  1200  25.39  2  1      25.17
17  20230818  1200  25.27  2  1      25.17
18  20230819  1200  25.24  2  1      25.17
19  20230820  1200  25.29  2  1      25.17
20  20230821  1200  25.26  2  1      25.17
21  20230822  1200  25.33  2  1      25.17
22  20230823  1200  25.38  2  1      25.17
23  20230824  1200  25.34  2  1      25.17